@mixin rex-form-group {
  @include rex-form-group-content();
  @include rex-form-group-div();
}

@mixin rex-form-group-content {
  display: block;

  &.rex-form-group-row {
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin rex-form-group-div {
  $spacer-sizes: (0: 0,
      1: .25rem,
      2: .5rem,
      3: 1rem,
      4: 1.25rem,
      5: 2rem,
      6: 2.25rem,
      7: 3rem,
      8: 3.25rem,
      9: 4rem,
      10: 4.25rem);

  @each $modifier,
  $size in $spacer-sizes {
    &.rex-mt-#{$modifier} {
      margin-top: $size;
    }

    &.rex-mr-#{$modifier} {
      margin-right: $size;
    }

    &.rex-mb-#{$modifier} {
      margin-bottom: $size;
    }

    &.rex-ml-#{$modifier} {
      margin-left: $size;
    }

    &.rex-mx-#{$modifier} {
      margin-left: $size;
      margin-right: $size;
    }

    &.rex-my-#{$modifier} {
      margin-top: $size;
      margin-bottom: $size;
    }

    &.rex-m-#{$modifier} {
      margin: $size;
    }
  }
}