@mixin rex-form-group {
  @include rex-form-group-content();
  @include rex-form-group-div();
}

@mixin rex-form-group-content {
  display: block;

  &.rex-form-group-row {
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin rex-form-group-div {
  $spacer-sizes: (0: 0,
      1: .5rem, //8px
      2: 1rem, //16px
      3: 1.5rem, //24px
      4: 2rem, //32px
      5: 2.5rem, //40px
  ); 

  @each $modifier,
  $size in $spacer-sizes {
    &.rex-mt-#{$modifier} {
      margin-top: $size;
    }

    &.rex-mr-#{$modifier} {
      margin-right: $size;
    }

    &.rex-mb-#{$modifier} {
      margin-bottom: $size;
    }

    &.rex-ml-#{$modifier} {
      margin-left: $size;
    }

    &.rex-mx-#{$modifier} {
      margin-left: $size;
      margin-right: $size;
    }

    &.rex-my-#{$modifier} {
      margin-top: $size;
      margin-bottom: $size;
    }

    &.rex-m-#{$modifier} {
      margin: $size;
    }
  }
}